USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateFilesInFolders]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC sp_CreateFilesInFolders 'dgdb_PL_ScheduledJobs','ttMBEW',100000

CREATE PROCEDURE [dbo].[sp_CreateFilesInFolders](
	@DatabaseName VARCHAR(50)
	, @ViewName VARCHAR(50)
	, @RecordCount INT
)
AS
BEGIN

	DECLARE @SQL NVARCHAR(MAX), @TableName VARCHAR(100), @BatchCount INT, @TableRecordCount INT, @LoopCount INT;
	DECLARE @FromPath VARCHAR(1000), @ToPath VARCHAR(1000), @cmd VARCHAR(500), @move VARCHAR(1000);
	DECLARE @RowCount TABLE (lines INTEGER);
	
	CREATE TABLE #Files (FName VARCHAR(100), Done INT, FilePath VARCHAR(1000))
	
	INSERT INTO #Files SELECT ViewName, 0, ExportPath FROM dbo.cfloadfiles_Batch WHERE ViewName = @ViewName

	UPDATE dgdb_PL..cfLoadFiles_Batch SET Active = 0;
	UPDATE dgdb_PL..cfLoadFiles_Batch Set Active = 1, MaxRecordPerFile = @RecordCount WHERE ViewName = @ViewName;
	
	SELECT * FROM #Files

	WHILE (SELECT TOP 1 1 FROM #Files WHERE Done = 0) = 1
	BEGIN
		SET @SQL = '';
		
		PRINT 'In Loop 1';
		SELECT TOP 1 @TableName = Fname, @FromPath = FilePath FROM #Files WHERE Done = 0;
		
		SET @SQL = 'ALTER TABLE ' + @DatabaseName + '..' + @TableName + ' ADD zBatch INT;';		
		EXEC (@SQL);
		
		SET @SQL = @SQL + ' UPDATE ' + @DatabaseName + '..' + @TableName + ' SET zBatch = 0;';		
		EXEC (@SQL);
		
		SET @SQL = 'SELECT COUNT(*) FROM ' + @DatabaseName + '..' + @TableName --+ ' WHERE zBATCH = 0';
		INSERT INTO @RowCount EXEC (@SQL);		
		SELECT @TableRecordCount = lines FROM @RowCount;
		
		SELECT @BatchCount = FLOOR(@TableRecordCount / @RecordCount) + 1;
		SET @LoopCount = 1;
		
		WHILE (@LoopCount <= @BatchCount)
		BEGIN
			EXEC spProcess50ExportLoadFilesBatchVersion_WIP @DatabaseName
			
			SET @ToPath = '\\WG0232\_LoadFiles\dgdb_PL\' + @DatabaseName + '_' + CAST(@LoopCount AS VARCHAR(10));
			SET @cmd = 'MKDIR ' + @ToPath;
			EXEC master..xp_cmdshell @cmd;
			
			SET @move = 'MOVE ' + @FromPath + '* '+ @ToPath;
			
			EXEC master.dbo.xp_cmdshell @move;
			
			SET @LoopCount = @LoopCount + 1;
		END
		
		SET @SQL = ' ALTER TABLE ' + @DatabaseName + '..' + @TableName + ' DROP COLUMN zBatch;';
		EXEC (@SQL);

		UPDATE #Files SET Done = 1 WHERE FName = @TableName
	END

END
GO
