USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[sp_ExcludeSP10_20]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC sp_ExcludeSP10_20 649, 'ttMVKE'

CREATE PROCEDURE [dbo].[sp_ExcludeSP10_20](
	@SrcId INT,
	@TableName varchar(50)
)
AS
BEGIN
	DECLARE @DBName VARCHAR(100);
	DECLARE @SQL NVARCHAR(MAX);

	SELECT @DBName = srcSrtCode + srcVendorCode + '_' + srcName + '_' + CAST(@srcID AS NVARCHAR) FROM cfSource WHERE srcid = @srcID;	
	
	SET @SQL = 'DELETE FROM ' + @DBName + '..RunTimeLog WHERE rtlCount > 0';
	PRINT @SQL;
	EXEC (@SQL);
	
	SET @SQL = 'UPDATE ' + @DBName + '.dbo.' +@TableName + ' SET zDGError = NULL, zActive = 1 WHERE zDGError = 1';
	PRINT @SQL;
	EXEC (@SQL);
	
	SET @SQL = 'DELETE FROM ' + @DBName + '.dbo.RunTimeIssue';
	PRINT @SQL;
	EXEC (@SQL);
END
GO
