USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[getvplcolumns]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[getvplcolumns]
as
begin
set nocount on

declare @database table(id int identity(1,1), dbname varchar(100))
declare @tablename table(id int identity(1,1),dbname varchar(100), tablename varchar(100))
declare @i int
declare @maxDbcount int
declare @dbname nvarchar(1000)
declare @sql nvarchar(1000)
		
insert into @database
select name from sys.databases where name like 'VPL%'
set @i=1
select @maxDbcount=MAX(id) from @database

while @i<=@maxDbcount
begin

select @dbname=dbname from @database where id=@i

set @sql= ('select '+''''+@dbname+''''+',name from '+@dbname+'.sys.tables where name like ''%_Override''')

insert into @tablename(dbname,tablename)
exec (@sql)

set @i=@i+1
end

declare @tblid int
declare @j int
declare @servername varchar(100)
declare @databasenm varchar(100)
declare @table varchar(100)
declare @sql2 nvarchar(1000)
declare @tbl table(dbnm varchar(100),tblnm varchar(100),colnm varchar(100))


select @tblid=MAX(id) from @tablename
set @j=1

while @j<=@tblid
begin

select @databasenm=dbname,@table=tablename from @tablename where id=@j

set @sql2='select '+''''+@databasenm+''''+','+''''+@table+''''+',name 
from '+@databasenm+'.sys.columns  
where object_id=OBJECT_ID('''+@databasenm+''+'.dbo.'+@table+''')  
and name in(''zActive'',''zObsolete'')'

insert into @tbl
exec (@sql2)


set @j=@j+1
end

select dbnm databasename,tblnm tablename,colnm columnname 
from @tbl

select * into dbo.zz_VPL_OverrideColumne_New2 from @tbl


end
GO
