USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[sp_Clean_NA_VPL_WIP]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Clean_NA_VPL_WIP]
AS
BEGIN

	SELECT A.SrcId, B.name, 0 AS done
	INTO #tempNAVPLs 
	FROM (SELECT srcId
		FROM DGDB_PL..cfSource 
		WHERE srcGroup IN ('NA','US','CA')) A
	INNER JOIN (SELECT name, SUBSTRING(name, ((LEN(name) - CHARINDEX('_',REVERSE(name))) + 2), LEN(name)) AS SrcId
				FROM sys.databases
				WHERE name LIKE '%_CA_%' OR name LIKE '%_US_%' OR name LIKE '%_NA_ %') B
		ON A.SrcId = B.SrcId
	WHERE ISNUMERIC(B.SrcId) = 1;

	DECLARE @VPLName NVARCHAR(500), @SrcId INT, @SQL NVARCHAR(MAX), @TableName NVARCHAR(100);
	
	CREATE TABLE #tempVPLTables(TableName NVARCHAR(100), done BIT);
	
	WHILE ((SELECT TOP 1 1 FROM #tempNAVPLs WHERE done = 0) = 1)
	BEGIN
		SELECT TOP 1 @VPLName = name, @SrcID = SrcId
		FROM #tempNAVPLs
		WHERE done = 0;

		SET @SQL = 'SELECT table_Name, 0 AS done FROM ' + @VPLName + '.INFORMATION_SCHEMA.TABLES';

		INSERT INTO #tempVPLTables
		EXEC (@SQL);
		
		--WHILE((SELECT TOP 1 1 FROM #tempVPLTables where done = 0) = 1)
		--BEGIN
		--	SELECT TOP 1 @TableName = TableName FROM #tempVPLTables where done = 0;
			
		--	SET @SQL = 'TRUNCATE TABLE ' + @VPLName + '.dbo.' + @TableName;
			
		--	PRINT @SQL;
		--	-- EXEC (@SQL);
			
		--	UPDATE #tempVPLTables SET done = 1 where TableName = @TableName;
		--END

		UPDATE #tempNAVPLs SET done = 1 where srcId = @SrcId;
	END
	  	 SELECT * FROM #tempVPLTables 

END
GO
