USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[sp_get_vpl_Supplierplantmap]    Script Date: 2/25/2026 2:13:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec sp_get_vpl_Supplierplantmap 'VPL99999_GlobalAdhoc_EMEA1_497'

CREATE procedure [dbo].[sp_get_vpl_Supplierplantmap]
(
	@ip_dbname varchar(64) -- VPL99999_GlobalAdhoc_EMEA1_497
)
as
begin
declare @sql nvarchar(4000),
		@maxtmpSourcefile int,
		@i int,
		@j int,
		@supplierplantmap varchar(512),
		@supplier varchar(64),
		@Material nvarchar(64),
		@materialgroup varchar(64),
		@maxpmid int,
		@lvlifnr varchar(64),
		@lvwerks varchar(64),
		@lvmatkl varchar(64),
		@id int
		

declare @tmpSourcefile as table (
		id int identity(1,1),
		supplierPlant nvarchar(512),
		Material nvarchar(64),
		materialgroup varchar(64))


declare @tmpSourcefileextract as table (
		id int ,
		tmpSourcefileid int,
		plants varchar(512),
		materialgroup varchar(64),
		suppliers varchar(512),
		Material nvarchar(64),
		cfSAPSupplierid int)

set @i=1

set @sql='select supplierplantmap,
				material,
				materialgroup 
				from '+@ip_dbname+'..Sourcefileextract'

insert into @tmpSourcefile
exec (@sql)

select @maxtmpSourcefile=max(id)
from @tmpSourcefile

while @i<=@maxtmpSourcefile
begin

	select	@supplierplantmap=supplierPlant,
			@Material=material,
			@materialgroup=materialgroup  
	from @tmpSourcefile
	where id=@i

	insert into @tmpSourcefileextract(id,tmpSourcefileid,material,materialgroup,plants,suppliers)
	select	ROW_NUMBER() over(order by @Material),
			@i,
			@Material,
			@materialgroup,
			substring(items,0,charindex('=',items)),
		    substring(items,charindex('=',items)+1,len(items))  
	from dbo.Split(@supplierplantmap,'|')
	
	update tmp
	set cfSAPSupplierid=cf.id
	from @tmpSourcefileextract tmp
	inner join cfSAPSupplier cf on (cf.werks=tmp.plants and cf.lifnr=tmp.suppliers and cf.matkl=tmp.materialgroup)
	where tmpsourcefileid=@i
	
	
	
	
	
	--select @maxpmid=max(id)
	--from @tmpSourcefileextract
	--where tmpsourcefileid=@i
	
	--	set @j=1
	--	while @j<=@maxpmid
	--	begin
		
	--		select @lvlifnr=suppliers,
	--			   @lvwerks=plants,
	--			   @lvmatkl=materialgroup
	--		from @tmpSourcefileextract
	--		where tmpsourcefileid=@i
	--		and id=@j   
		
	--		select @id=id 
	--		from cfSAPSupplier
	--		where lifnr=@lvlifnr
	--		and werks=@lvwerks
	--		and matkl=@lvmatkl
			
	--		--select * 
	--		--from cfSupplierExtensions 
	--		--where supplieridfrom=@id
		
	--	set @j=@j+1
	--	end
	
		
	set @i=@i+1
	
	
end

select * from @tmpSourcefileextract

--select cf.* 
--from cfSupplierExtensions cf
--inner join @tmpSourcefileextract tmp on(cf.supplieridfrom=tmp.cfSAPSupplierid)
--select * from @tmpSourcefileextract

end
GO
