USE [DGDB_PL]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMaterialProperties]    Script Date: 3/10/2026 2:18:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC sp_GetMaterialProperties 'WTY_DOA','EPN','300', 'MVKE'

Create OR ALTER PROCEDURE [dbo].[sp_GetMaterialProperties_MM](
	@Matnr VARCHAR(100)
	, @System VARCHAR(20) = 'EPN'
	, @Client VARCHAR(5) = '300'
	, @ViewName VARCHAR(50) = ''
)
AS
BEGIN
	DECLARE @SQL NVARCHAR(MAX)
	, @SAPClientDataDB VARCHAR(50) = '';
	
	SELECT @SAPClientDataDB = trdDatabase FROM dgdb_pl.dbo.cfTargetData_New WHERE trdSystem = @System AND trdClient = @Client;
	--PRINT @SAPClientDataDB;
	
	IF (@ViewName <> '')
	BEGIN
		SET @SQL = 'SELECT ''' + @ViewName + ''' AS MaterialView, * FROM ' + @SAPClientDataDB + '..' + @ViewName + ' WHERE MATNR = ''' + @Matnr + '''';
		EXEC (@SQL);
	END
	ELSE
	BEGIN
		CREATE TABLE #tempTableList(tablename varchar(50), Done INT); DECLARE @TableName VARCHAR(50);
		INSERT INTO #tempTableList SELECT DISTINCT trgName, 0 AS Done FROM dbo.cfTarget WHERE trgTrtCode = 'VPL';
		WHILE (SELECT TOP 1 1 FROM #tempTableList WHERE Done = 0) = 1
		BEGIN
			SELECT TOP 1 @TableName = TableName FROM #tempTableList WHERE Done = 0;
			
			IF COL_LENGTH(@SAPClientDataDB + '.dbo.' + @TableName, 'MATNR') IS NOT NULL
			BEGIN
				SET @SQL = 'SELECT ''' + @TableName + ''' AS MaterialView, * FROM ' + @SAPClientDataDB + '..' + @TableName + ' WHERE MATNR = ''' + @Matnr + ''''; 
				EXEC (@SQL);
			END
			
			UPDATE #tempTableList SET Done = 1 WHERE tableName = @TableName;
		END
	END
END